{% extends "projets/home/base_project.html" %}
{% load static %}

{% block title %}Lots du projet – {{ projet.nom }}{% endblock %}
{% block page_title %}<i class="fas fa-cubes mr-2"></i>Lots / Bordereau{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'projets/css/lots.css' %}">
{% endblock %}

{% block content %}
    {% include "projets/lots/_lots_content.html" %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'projets/js/lots.js' %}" defer></script>
{% endblock %}