{# projets/templates/projets/home/base_sidebar.html #}
{% extends "projets/home/base_core.html" %}
{% load static %}

{% block data_family %}app{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'projets/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'projets/css/dossiers.css' %}">
    <link rel="stylesheet" href="{% static 'projets/css/liste_projets.css' %}">
    <link rel="stylesheet" href="{% static 'projets/css/taches.css' %}">
    <link rel="stylesheet" href="{% static 'projets/css/notifications.css' %}">
    <link rel="stylesheet" href="{% static 'projets/css/utilisateurs.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'projets/js/dossiers.js' %}" defer></script>
    <script src="{% static 'projets/js/liste_projets.js' %}" defer></script>   {# ← AJOUT #}
    <script src="{% static 'projets/js/taches.js' %}" defer></script>
    <script src="{% static 'projets/js/home.js' %}" defer></script>
    <script src="{% static 'projets/js/notifications.js' %}" defer></script>
    <script src="{% static 'projets/js/utilisateurs.js' %}" defer></script>
{% endblock %}