{% extends "projets/home/base_project.html" %}
{% load static %}

{% block title %}Ordres de service – {{ projet.nom }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'projets/css/ordres_service.css' %}">
{% endblock %}

{% block content %}
    {% include "projets/ordres_service/_ordres_service_content.html" %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'projets/js/ordres_service.js' %}" defer></script>
{% endblock %}