{# projets/templates/projets/documents/documents_administratifs.html #}
{% extends "projets/home/base_project.html" %}
{% load static %}

{% block title %}Documents – {{ projet.nom }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'projets/css/documents.css' %}">
{% endblock %}

{% block content %}
    {% include "projets/documents/_documents_content.html" %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'projets/js/documents.js' %}" defer></script>
{% endblock %}